{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Charisma-Counselor - an AI powered Counselor</title>
    <link rel="stylesheet" href="{% static '/base.css' %}">
    <script src="{% static 'homePage/home.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>  
</head>
<body>
        <!--display header template-->
        {% include 'partials/header.html' %}
    <div id="page-container">
        <main>
            <section id="controls">
                <div class="transcript-box" id="transcript-box">
                    <p id="transcript-text">Your therapy awaiting :) </p>
                </div>                
                <div class="button-container" id="create-button-container">
                    <button type="button" id="create-button">+</button>
                    <h3>Start a session</h3>
                </div>
            </section> 
        </main>
    </div>

    <!--display footer template-->
    {% include 'partials/footer.html' %} 
</body>
