absl_py==2.1.0
anyascii==0.3.2
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
clearml==1.17.1
coqpit==0.0.17
cutlet==0.5.0
Cython==3.0.11
deepspeed==0.16.4
einops==0.8.1
encodec==0.1.1
faster_whisper==1.1.1
Flask==3.1.0
fsspec==2025.2.0
g2pkk==0.1.2
gradio==5.19.0
gruut==2.2.3
gruut_ipa==0.13.0
hangul_romanize==0.1.0
huggingface_hub==0.24.6
inflect==7.5.0
inflect==7.3.1
jamo==0.4.1
jieba==0.42.1
JPype1==1.5.2
k_diffusion==0.1.1.post1
kaggle==1.6.17
librosa==0.10.2.post1
matplotlib==3.10.1
MeCab==0.996.5
mutagen==1.47.0
num2words==0.5.14
numpy==2.2.3
onnxruntime==1.15.0
openai==1.65.1
opencc==1.1.9
packaging==24.2
pandas==1.5.3
protobuf==5.29.3
PyAudio==0.2.14
pypinyin==0.53.0
pysbd==0.3.4
python-dotenv==1.0.1
pyttsx3==2.98
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
scipy==1.15.2
seaborn==0.13.2
setuptools==75.1.0
six==1.17.0
soundfile==0.13.1
spacy==3.8.4
SpeechRecognition==3.14.1
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
tqdm==4.66.5
transformers==4.39.3
umap_learn==0.5.7
vosk==0.3.44
